<xf:macro name="reaction_snippet" arg-reactionUser="!" arg-reactionId="!" arg-comment="!" arg-date="!" arg-fallbackName="{{ phrase('unknown_member') }}">
	<div class="contentRow-title">
		<xf:if is="$comment.user_id && $comment.user_id === $xf.visitor.user_id">
			{{ phrase('svReportImprov_x_reacted_to_your_comment_in_y_report', {
				'name': username_link($reactionUser, false, {'defaultname': $fallbackName}),
				'report_params': 'href="' . link('reports', $comment.Report) . '#report-comment-' . $comment.report_comment_id . '"',
				'report_title': $content.Report.title,
				'reaction': alert_reaction($reactionId, 'medium')|preescaped
			}) }}
		<xf:else />
			{{ phrase('svReportImprov_x_reacted_to_ys_comment_in_y_report', {
				'name': username_link($reactionUser, false, {'defaultname': $fallbackName}),
				'report_params': 'href="' . link('reports', $comment.Report) . '#report-comment-' . $comment.report_comment_id . '"',
				'poster': $comment.username,
				'report_title': $content.Report.title,
				'reaction': alert_reaction($reactionId, 'medium')|preescaped
			}) }}
		</xf:if>
	</div>
	
	<div class="contentRow-snippet">{{
		snippet($comment.message, $xf.options.newsFeedMessageSnippetLength, {'stripPlainTag': true, 'stripQuote': true})
	}}</div>

	<div class="contentRow-minor"><xf:date time="{$date}" /></div>
</xf:macro>

<xf:macro name="reaction_snippet"
		  arg-reactionUser="{$reaction.ReactionUser}"
		  arg-reactionId="{$reaction.reaction_id}"
		  arg-comment="{$content}"
		  arg-date="{$reaction.reaction_date}" />