<xf:macro template="search_form_macros" name="keywords" arg-input="{$input}" arg-canTitleLimit="{{ false }}" />
<xf:macro template="search_form_macros" name="user" arg-input="{$input}" />
<xf:macro name="user_field" arg-name="assigned" arg-label="{{ phrase('svReportImprov_with_assigned_user') }}" arg-input="{$input}" />
<xf:macro name="user_field" arg-name="assigner" arg-label="{{ phrase('svReportImprov_by_assigner_user') }}" arg-input="{$input}" />
<xf:macro name="user_field" arg-name="participants" arg-label="{{ phrase('svReportImprov_participants') }}" arg-input="{$input}" arg-single="{{ false }}"/>
<xf:macro template="search_form_macros" name="date" arg-input="{$input}" />

<xf:if is="$input.c.thread">
	<xf:checkboxrow>
		<xf:option name="c[thread]" value="{$input.c.thread}" selected="true">{{ phrase('restrict_search_to_specified_thread') }}</xf:option>
	</xf:checkboxrow>
</xf:if>

<xf:if is="$isUsingElasticSearch">
	<xf:checkboxrow name="c[report][type]"
					label="{{ phrase('svReportImprove_content_in') }}">
		<xf:foreach loop="$reportTypes" key="$key" value="$rec">
			<xf:option value="{$key}" label="{$rec.phrase}" checked="{{ in_array($key, $input.c.report.type) }}" data-hide="true">
				<xf:dependent>
					<xf:if is="callable($rec.handler, 'getSearchFormTemplate')">
						<xf:include template="{$rec.handler.getSearchFormTemplate()}" />
					</xf:if>
				</xf:dependent>
			</xf:option>
		</xf:foreach>
	</xf:checkboxrow>
<xf:else />
	<xf:radiorow name="c[report][type][]"
					label="{{ phrase('svReportImprove_content_in') }}">
		<xf:foreach loop="$reportTypes" key="$key" value="$rec">
			<xf:option value="{$key}" label="{$rec.phrase}" checked="{{ in_array($key, $input.c.report.type) }}" data-hide="true">
				<xf:dependent>
					<xf:if is="callable($rec.handler, 'getSearchFormTemplate')">
						<xf:include template="{$rec.handler.getSearchFormTemplate()}" />
					</xf:if>
				</xf:dependent>
			</xf:option>
		</xf:foreach>
	</xf:radiorow>
</xf:if>

<xf:macro template="svSearchImprov_macros" name="replies" arg-input="{$input}" />

<xf:checkboxrow>
	<xf:option name="c[report][contents]"
			   label="{{ phrase('svReportImprov_include_reported_content') }}"
			   value="{$input.c.report.contents}" />
	
	<xf:option name="c[report][comments]"
			   label="{{ phrase('svReportImprov_include_report_comments') }}"
			   value="{$input.c.report.comments}"/>

	<xf:option name="c[report][user_reports]"
			   label="{{ phrase('svReportImprov_include_user_reports') }}"
			   value="{$input.c.report.user_reports}"/>
</xf:checkboxrow>

<xf:if is="$reportStates is not empty">
	<xf:selectrow name="c[report][state][]" size="{{ 1+count($reportStates) }}" multiple="true" value="{$input.c.report.state|default(['0'])}"
		label="{{ phrase('svReportImprov_with_report_state') }}">

		<xf:option value="0">{{ phrase('(any)') }}</xf:option>
		<xf:options source="$reportStates" />
	</xf:selectrow>
</xf:if>

<xf:macro template="svSearchImprov_macros" name="range" 
		  arg-label="{{ phrase('warning_points') }}"
		  arg-fieldPrefix="c[warning][points]"
		  arg-lowerBoundValue="{$input.c.warning.points.lower}"
		  arg-upperBoundValue="{$input.c.warning.points.upper}"
		  />

<xf:macro template="search_form_macros"
		  name="order"
		  arg-isRelevanceSupported="{$isRelevanceSupported}"
		  arg-options="{{ {
					   'replies': phrase('most_replies')
					   } }}"
		  arg-input="{$input}" />

<xf:macro name="user_field" arg-name="!" arg-label="{{ [] }}" arg-input="{{ [] }}" arg-single="{{ true}}">
	<xf:textboxrow name="c[{$name}]" value="{$input.c.{$name}}" ac="true"
		label="{{ $label }}"
		explain="{{ $single ? '' : phrase('separate_names_with_comma') }}" />
</xf:macro>