<xf:macro template="search_form_macros" name="keywords" arg-input="{$input}" arg-canTitleLimit="{{ false }}" />
<xf:macro template="search_form_macros" name="user" arg-input="{$input}" />
<xf:macro name="user_field" arg-name="report_user" arg-label="{{ phrase('svReportImprov_reported_user') }}" />
<xf:macro name="user_field" arg-name="assigned" arg-label="{{ phrase('svReportImprov_with_assigned_user') }}" />
<xf:macro name="user_field" arg-name="assigner" arg-label="{{ phrase('svReportImprov_by_assigner_user') }}" />
<xf:macro name="user_field" arg-name="participants" arg-label="{{ phrase('svReportImprov_participants') }}" arg-single="{{ false }}"/>
<xf:macro template="search_form_macros" name="date" arg-input="{$input}" />

<xf:if is="$input.c.thread">
	<xf:checkboxrow>
		<xf:option name="c[thread]" value="{$input.c.thread}" selected="true">{{ phrase('restrict_search_to_specified_thread') }}</xf:option>
	</xf:checkboxrow>
</xf:if>

<xf:macro name="search_form_report_comment::report_type"
		  arg-label="{{ phrase('svReportImprove_reported_content_in') }}"
		  arg-reportTypes="{$reportTypes}"/>

<xf:macro template="svSearchImprov_macros" name="replies" arg-input="{$input}" />

<xf:checkboxrow>
	<xf:option name="c[report][contents]"
			   label="{{ phrase('svReportImprov_include_reported_content') }}"
			   value="{$input.c.report.contents}" />
	
	<xf:option name="c[report][comments]"
			   label="{{ phrase('svReportImprov_include_report_comments') }}"
			   value="{$input.c.report.comments}"/>

	<xf:option name="c[report][user_reports]"
			   label="{{ phrase('svReportImprov_include_user_reports') }}"
			   value="{$input.c.report.user_reports}"/>
</xf:checkboxrow>

<xf:if is="$reportStates is not empty">
	<xf:selectrow name="c[report][state][]" size="{{ 1+count($reportStates) }}" multiple="true" value="{$input.c.report.state|default(['0'])}"
		label="{{ phrase('svReportImprov_with_report_state') }}">

		<xf:option value="0">{{ phrase('(any)') }}</xf:option>
		<xf:options source="$reportStates" />
	</xf:selectrow>
</xf:if>

<xf:macro template="search_form_macros"
		  name="order"
		  arg-isRelevanceSupported="{$isRelevanceSupported}"
		  arg-options="{{ {
					   'replies': phrase('most_replies')
					   } }}"
		  arg-input="{$input}" />

<xf:macro name="report_type" global="1" arg-label="!">
	<xf:comment>Note; pre-render code pushes globals into this macro's local variables for getSearchFormTemplate</xf:comment>
	<xf:if is="$__globals.isUsingElasticSearch">
		<xf:checkboxrow name="c[report][type]"
						label="{$label}">
			<xf:foreach loop="$reportTypes" key="$key" value="$rec">
				<xf:option value="{$key}" label="{$rec.phrase}" checked="{{ in_array($key, $input.c.report.type) }}" data-hide="true">
					<xf:dependent>
						<xf:if is="callable($rec.handler, 'getSearchFormTemplate')">
							<xf:include template="{$rec.handler.getSearchFormTemplate()}" />
						</xf:if>
					</xf:dependent>
				</xf:option>
			</xf:foreach>
		</xf:checkboxrow>
	<xf:else />
		<xf:radiorow name="c[report][type][]"
					 label="{$label}">
			<xf:foreach loop="$reportTypes" key="$key" value="$rec">
				<xf:option value="{$key}" label="{$rec.phrase}" checked="{{ in_array($key, $input.c.report.type) }}" data-hide="true">
					<xf:dependent>
						<xf:if is="callable($rec.handler, 'getSearchFormTemplate')">
							<xf:include template="{$rec.handler.getSearchFormTemplate()}" />
						</xf:if>
					</xf:dependent>
				</xf:option>
			</xf:foreach>
		</xf:radiorow>
	</xf:if>
</xf:macro>

<xf:macro name="user_field" global="1" arg-name="!" arg-label="{{ [] }}" arg-single="{{ true }}">
	<xf:textboxrow name="c[{$name}]" value="{$input.c.{$name}}" ac="true"
		label="{{ $label }}"
		explain="{{ $single ? '' : phrase('separate_names_with_comma') }}" />
</xf:macro>