<xf:set var="$containerType" value="" />
<xf:macro template="search_form_macros" name="keywords" arg-input="{$input}" arg-canTitleLimit="{{ true }}" />
<xf:macro name="svSearchImprov_macros::user_field_multi" arg-name="user" arg-label="{{ phrase('posted_by') }}" arg-explain="{{ phrase('svReportImprove_warning_action_by_other_user') }}" />
<xf:macro name="svSearchImprov_macros::user_field_single" arg-name="report.user" arg-label="{{ phrase('svReportImprov_warned_user') }}" />
<xf:macro name="svSearchImprov_macros::user_field_single" arg-name="warning.mod" arg-label="{{ phrase('svReportImprov_issuing_user') }}" />
<xf:macro template="search_form_macros" name="date" arg-input="{$input}" />

<xf:if is="$input.c.thread">
	<xf:checkboxrow>
		<xf:option name="c[thread]" value="{$input.c.thread}" selected="true">{{ phrase('restrict_search_to_specified_thread') }}</xf:option>
	</xf:checkboxrow>
</xf:if>

<xf:macro name="svSearchImprov_macros::multi_select_list"
		  arg-name="warning.type"
		  arg-label="{{ phrase('svReportImprove_warning_type') }}"
		  arg-default="{{ ['new'] }}"		  
		  arg-keyValues="{$warningTypes}"
		  />

<xf:macro name="search_form_report_comment::report_content_type"
		  arg-label="{{ phrase('svReportImprove_warned_content_in') }}" />

<xf:macro name="svSearchImprov_macros::range" arg-name="warning.points" arg-label="{{ phrase('warning_points') }}" />

<xf:radiorow name="c[warning][expired]"
			 value="{$input.c.warning.expired|default('')}"
			 label="{{ phrase('svReportImprove_expiry_date') }}">
	<xf:option value="" label="{{ phrase('any') }}" />
	<xf:option value="active" label="{{ phrase('svReportImprove_active') }}" />	
	<xf:option value="expired" label="{{ phrase('svReportImprove_expired') }}" />
	<xf:option value="date" label="{{ phrase('date_range') }}" data-hide="true" >
		<xf:dependent>
			<xf:macro name="svSearchImprov_macros::date_range" arg-name="warning.expiry" arg-rowtype="fullWidth noLabel" arg-label="" />
		</xf:dependent>
	</xf:option>
</xf:radiorow>


<xf:macro template="search_form_macros"
		  name="order"
		  arg-isRelevanceSupported="{$isRelevanceSupported}"
		  arg-options="{$sortOrders}"
		  arg-input="{$input}" />