<xf:macro name="search_form_macros::keywords" arg-input="{$input}" arg-canTitleLimit="{{ true }}" />
<xf:macro name="search_form_macros::user" arg-input="{$input}" />
<xf:macro name="svSearchImprov_macros::user_field_single" arg-name="content.user" arg-label="{{ phrase('svReportImprov_reported_user') }}" />
<xf:macro name="svSearchImprov_macros::user_field_single" arg-name="assigned" arg-label="{{ phrase('svReportImprov_with_assigned_user') }}"/>
<xf:macro name="svSearchImprov_macros::user_field_single" arg-name="assigner" arg-label="{{ phrase('svReportImprov_by_assigner_user') }}" />
<xf:macro name="svSearchImprov_macros::user_field_multi" arg-name="participants" arg-label="{{ phrase('svReportImprov_participants') }}" />
<xf:macro name="search_form_macros::date" arg-input="{$input}" />

<xf:if is="$input.c.thread">
	<xf:checkboxrow>
		<xf:option name="c[thread]" value="{$input.c.thread}" selected="true">{{ phrase('restrict_search_to_specified_thread') }}</xf:option>
	</xf:checkboxrow>
</xf:if>

<xf:macro name="report_content_type"
		  arg-label="{{ phrase('svReportImprove_reported_content_in') }}"
		  />
<xf:macro name="svSearchImprov_macros::multi_select_list"
		  arg-name="report.type"
		  arg-label="{{ phrase('svReportImprove_include_report_type') }}"
		  arg-default="{{ ['user_report', 'comment'] }}"
		  arg-keyValues="{$reportTypes}"
		  />

<xf:macro name="svSearchImprov_macros::replies" arg-label="{{ phrase('svReportImpov_comment_count') }}"/>

<xf:if is="$reportStates is not empty">
	<xf:selectrow name="c[report][state][]" size="{{ 1+count($reportStates) }}" multiple="true" value="{$input.c.report.state|default(['0'])}"
		label="{{ phrase('svReportImprov_with_report_state') }}">

		<xf:option value="0">{{ phrase('(any)') }}</xf:option>
		<xf:options source="$reportStates" />
	</xf:selectrow>
</xf:if>

<xf:macro name="report_content_type" global="1" arg-label="!">
	<xf:if is="$isUsingElasticSearch">
		<xf:checkboxrow name="c[report][content]"
						label="{$label}">
			<xf:foreach loop="$reportHandlers" key="$contentType" value="$hanlder">
				<xf:option value="{$contentType}"
						   label="{{ $xf.app.getContentTypePhrase($contentType) }}" 
						   checked="{{ in_array($contentType, $input.c.report.type) }}"
						   data-hide="true">
					<xf:dependent>
						<xf:if is="callable($hanlder, 'getSearchFormTemplate')">
							<xf:include template="{$hanlder.getSearchFormTemplate()}" />
						</xf:if>
					</xf:dependent>
				</xf:option>
			</xf:foreach>
		</xf:checkboxrow>
	<xf:else />
		<xf:radiorow name="c[report][content][]"
					 label="{$label}">
			<xf:foreach loop="$reportHandlers" key="$contentType" value="$hanlder">
				<xf:option value="{$contentType}" 
						   label="{{ $xf.app.getContentTypePhrase($contentType) }}" 
						   checked="{{ in_array($contentType, $input.c.report.type) }}"
						   data-hide="true">
					<xf:dependent>
						<xf:if is="callable($hanlder, 'getSearchFormTemplate')">
							<xf:include template="{$hanlder.getSearchFormTemplate()}" />
						</xf:if>
					</xf:dependent>
				</xf:option>
			</xf:foreach>
		</xf:radiorow>
	</xf:if>
</xf:macro>

<xf:macro template="search_form_macros"
		  name="order"
		  arg-isRelevanceSupported="{$isRelevanceSupported}"
		  arg-options="{$sortOrders}"
		  arg-input="{$input}" />