<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('svReportImprov_operation_type') }}</dt>
	<dd class="warning_{$comment.WarningLog.operation_type}">{{ $comment.WarningLog.OperationTypePhrase }}</dd>
</dl>

<xf:set var="$warningTitle" value="{$comment.WarningLog.title}" />
<xf:set var="$publicBanner" value="{{ ''.$comment.WarningLog.public_banner }}" />
<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('warning') }}{{ ($publicBanner !== '' && $publicBanner === $warningTitle) 
		? ' / ' . phrase('svReportImprove_public_banner') 
		: '' }}</dt>
	<dd>{$warningTitle}</dd>
</dl>

<xf:if is="$publicBanner !== '' && $publicBanner !== $warningTitle">
<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('svReportImprove_public_banner') }}</dt>
	<dd>{$publicBanner}</dd>
</dl>
</xf:if>

<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('points') }}</dt>
	<dd>{$comment.WarningLog.points|number}</dd>
</dl>

<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('expiry') }}</dt>
	<dd>
		<xf:if is="$comment.WarningLog.expiry_date">
			<xf:date time="$comment.WarningLog.expiry_date" />
		<xf:else />
			{{ phrase('n_a') }}
		</xf:if>
	</dd>
</dl>

<xf:if is="$comment.WarningLog.Warning">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('warning') }}</dt>
		<dd><a href="{{ link('warnings', {'warning_id': $comment.WarningLog.warning_id}) }}">{{ phrase('view') }}</a></dd>
	</dl>
</xf:if>

<xf:if is="$comment.WarningLog.ReplyBanLink">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('thread') }}</dt>
		<dd><a href="{$comment.WarningLog.ReplyBanLink}">{{ phrase('view') }}</a>
	</dl>
</xf:if>

<xf:if is="$comment.WarningLog.ReplyBan">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('svReportImprov_reply_ban') }}</dt>
		<dd><a href="{{ link('threads/reply-bans', $comment.WarningLog.ReplyBanThread) }}" data-xf-click="overlay">{{ phrase('edit') }}</a></dd>
	</dl>
</xf:if>

<xf:if is="$comment.WarningLog.notes">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('note') }}</dt>
		<dd>{{ structured_text($comment.WarningLog.notes) }}</dd>
	</dl>
</xf:if>