<xf:macro name="filters_above" arg-filters="!">
    <div class="menu-row menu-row--separated">
        <xf:hiddenval name="include_reported">0</xf:hiddenval>
        <xf:checkbox>
            <xf:option name="include_reported" selected="{{ $filters is not empty ? $filters.include_reported : 0 }}">{{ phrase('svReportImprov_include_reported_content') }}</xf:option>
        </xf:checkbox>
		<xf:if is="is_addon_active('NF/Tickets')">
			<xf:hiddenval name="without_tickets">0</xf:hiddenval>
			<xf:checkbox>
				<xf:option name="without_tickets" selected="{{ $filters is not empty ? $filters.without_tickets : 0 }}">{{ phrase('svReportImprov_include_users_without_tickets') }}</xf:option>
			</xf:checkbox>
		</xf:if>
		<!--[XF:filter_menu:filters_extra]-->
    </div>
</xf:macro>

<xf:macro name="filter_bar" arg-filters="!">
    <xf:if is="$filters.include_reported">
        <li><a href="{{ link('approval-queue', null, $filters|replace({'include_reported': 0})) }}"
               class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('svReportImprov_toggle_filter')|for_attr }}">
            {{ phrase('svReportImprov_include_reported_content') }}
        </a></li>
	<xf:else />
        <li><a href="{{ link('approval-queue', null, $filters|replace({'include_reported': 1})) }}"
               class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('svReportImprov_toggle_filter')|for_attr }}">
            {{ phrase('svReportImprov_exclude_reported_content') }}
        </a></li>
    </xf:if>
	<xf:if is="is_addon_active('NF/Tickets')">
		<xf:if is="$filters.without_tickets">
			<li><a href="{{ link('approval-queue', null, $filters|replace({'without_tickets': 0})) }}"
				   class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('svReportImprov_toggle_filter')|for_attr }}">
				{{ phrase('svReportImprov_users_without_tickets', {'value': phrase('yes')}) }}
			</a></li>
		<xf:else />
			<li><a href="{{ link('approval-queue', null, $filters|replace({'without_tickets': 1})) }}"
				   class="filterBar-filterToggle" data-xf-init="tooltip" title="{{ phrase('svReportImprov_toggle_filter')|for_attr }}">
				{{ phrase('svReportImprov_users_without_tickets', {'value': phrase('no')}) }}
			</a></li>
		</xf:if>
	</xf:if>
</xf:macro>

<xf:macro name="footer">
    <div class="menu-row menu-row--separated">
        <xf:checkbox>
            <xf:option name="save"
                       label="{{ phrase('save_as_default') }}"
                       hint="{{ phrase('these_filters_will_be_used_by_default_whenever_you_return') }}" />
        </xf:checkbox>
    </div>
</xf:macro>