<xf:css src="svReportImprov_member_warn_content_report.less" />

<xf:if is="$report && $report.canView()">
	<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{ phrase('report') }}</span></h2>

	<div class="block-body">
		<xf:formrow rowtype="reportItem">
			<xf:macro template="report_list_macros" name="item" arg-report="{$report}" />
		</xf:formrow>
	</div>
</xf:if>

<xf:if is="$warning && $warning.canResolveLinkedReport()">
	<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{ phrase('svReportImprov_report_action') }}</span></h2>

	<div class="block-body">
		<xf:macro template="svReportImprov_report_macros"
				  name="resolve_report" 
				  arg-report="{$report}"
				  />
	</div>
</xf:if>