<xf:css src="svReportImprov_report_view_warning_log.less" />
<xf:set var="$warningLog" value="{$comment.WarningLog}" />
<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('svReportImprov_operation_type') }}</dt>
	<dd class="warning_{$warningLog.operation_type}">{{ $warningLog.OperationTypePhrase }}</dd>
</dl>

<xf:set var="$warningTitle" value="{$warningLog.title}" />
<xf:set var="$publicBanner" value="{{ ''.$warningLog.public_banner }}" />

<xf:if is="$warningLog.canShowDefinition() && $warningLog.definition_title !== $warningTitle">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('svReportImprove_definition_title') }}</dt>
		<dd>{$warningLog.definition_title}</dd>
	</dl>
</xf:if>

<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('warning') }}{{ ($publicBanner !== '' && $publicBanner === $warningTitle)
		? ' / ' . phrase('svReportImprove_public_banner')
		: '' }}</dt>
	<dd>{$warningTitle}</dd>
</dl>

<xf:if is="$publicBanner !== '' && $publicBanner !== $warningTitle">
<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('svReportImprove_public_banner') }}</dt>
	<dd>{$publicBanner}</dd>
</dl>
</xf:if>

<xf:if is="$warningLog.Warning">
<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('points') }}</dt>
	<dd>{$warningLog.points|number}</dd>
</dl>
</xf:if>

<dl class="pairs pairs--justified fauxBlockLink">
	<dt>{{ phrase('expiry') }}</dt>
	<dd>
		<xf:if is="$warningLog.expiry_date">
			<xf:date time="$warningLog.expiry_date" />
		<xf:else />
			{{ phrase('n_a') }}
		</xf:if>
	</dd>
</dl>

<xf:if is="$warningLog.Warning">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('warning') }}</dt>
		<dd><a href="{{ link('warnings', {'warning_id': $warningLog.warning_id}) }}">{{ phrase('view') }}</a></dd>
	</dl>
</xf:if>

<xf:if is="$warningLog.ReplyBanLink">
	<dl class="pairs pairs--justified fauxBlockLink">
		<dt>{{ phrase('thread') }}</dt>
		<dd><a href="{$warningLog.ReplyBanLink}">{{ phrase('view') }}</a>
	</dl>
</xf:if>

<xf:if is="$warningLog.ReplyBan">
    <dl class="pairs pairs--justified fauxBlockLink">
        <dt>{{ phrase('svReportImprov_reply_ban') }}</dt>
        <dd><a href="{{ link('threads/reply-bans', $warningLog.ReplyBanThread) }}" data-xf-click="overlay">{{ phrase('edit') }}</a></dd>
    </dl>
</xf:if>

<xf:if is="is_addon_active('SV/ForumBan') && $warningLog.ForumBan">
    <dl class="pairs pairs--justified fauxBlockLink">
        <dt>{{ phrase('svReportImprov_forum_ban') }}</dt>
        <dd><a href="{{ link('forums/sv-forum-bans', $warningLog.ForumBanForum) }}" data-xf-click="overlay">{{ phrase('edit') }}</a></dd>
    </dl>
</xf:if>

<xf:if is="$warningLog.notes">
	<dl class="pairs pairs--justified fauxBlockLink structure-text">
		<dt>{{ phrase('note') }}</dt>
		<dd>{{ structured_text($warningLog.notes) }}</dd>
	</dl>
</xf:if>