<xf:if is="$report && $report.canView()">
	<xf:css src="svReportImprov_member_warn_content_report.less" />

	<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{ phrase('report') }}</span></h2>

	<div class="block-body">
		<xf:formrow rowtype="reportItem">
			<xf:macro template="report_list_macros" name="item" arg-report="{$report}" />
		</xf:formrow>
	</div>

	<xf:if is="!$report.isClosed() && $report.canUpdate()">
		<h2 class="block-formSectionHeader"><span class="block-formSectionHeader-aligner">{{ phrase('svReportImprov_report_action') }}</span></h2>

		<div class="block-body">
			<xf:checkboxrow explain="{{ !$report ? phrase('svReportImprov_report_will_be_created') : '' }}">
				<xf:option name="resolve_report" checked="{{ $xf.options.sv_default_resolve_report_on_warning ? '1' : '' }}" label="{{ phrase('svReportImprov_resolve_report') }}" />
			</xf:checkboxrow>
		</div>
	</xf:if>
</xf:if>