<xf:macro name="search_options">	
	<xf:if is="$__globals.hasReportSearch">
		<div class="menu-row">
			<div class="inputGroup">
				<xf:checkbox>
					<xf:set var="$defaultReportTypes" value="{{ ['comment','user_report'] }}" />
					<xf:foreach loop="$xf.app.em.getRepository('XF:Report').getReportTypePairs()" key="$value" value="$phrase">
						<xf:option name="c[report][type][]" value="{$value}"
								   label="{$phrase}"
								   checked="{{ in_array($value, $defaultReportTypes) ? '1' : '' }}" />
					</xf:foreach>
				</xf:checkbox>
			</div>
		</div>
	</xf:if>
</xf:macro>

<xf:macro name="page_options" arg-context="!" arg-report="{{null}}">
	<xf:page option="hasReportSearch" value="{{true}}" />
	<xf:page option="report" value="{$report}" />
	<xf:page option="searchConstraints" value="{{ {
		phrase('reports'): {'search_type': 'report_comment'}
	} }}" />
</xf:macro>