<xf:if is="$content instanceof '\XF\Entity\Post'">
	<xf:if contentcheck="true">
		<xf:css src="message.less" />
		<xf:contentcheck>
			<xf:formrow>
				<xf:set var="$post" value="{$content}" />
				<xf:if is="is_addon_active('SV/ThreadReplyBanTeeth')">
					<xf:include template="svThreadReplyBanTeeth_post_macros" />
				</xf:if>
				<xf:if is="$post.warning_message">
					<div class="messageNotice messageNotice--warning">
						{{ phrase('svReportImprove_user_is_warned' )}}
					</div>
				</xf:if>
			</xf:formrow>
		</xf:contentcheck>
	</xf:if>
</xf:if>