<xf:macro name="reportInfo" 
		  arg-report="!"
		  >
	<xf:if is="$report.content_date">
		<dl class="pairs pairs--inline" style="display:block;">
			<dt>{{ phrase('svReportImprov_content_date') }}</dt>
			<dd><xf:date time="$report.content_date" /></dd>
		</dl>
	</xf:if>
</xf:macro>

<xf:macro name="resolve_report"
		  arg-report="!"
		  arg-name="resolve_report"
		  arg-resolveDefault="{{ $xf.options.sv_default_resolve_report_on_warning ? '1' : '' }}"
		  arg-alert="{{ true }}"
		  arg-alertDefault="{{ $xf.options.sv_default_alert_on_resolve_report ? '1' : '' }}"
		  arg-alertEnableName="resolve_alert"
		  arg-alertCommentName="resolve_alert_comment"
		  arg-label="{{ phrase('svReportImprov_resolve_report') }}"
		  >
	<xf:if is="!$report || ($report && $report.canUpdate())">
		<xf:checkboxrow explain="{{ !$report ? phrase('svReportImprov_report_will_be_created') : '' }}">
			<xf:if is="$alert">
				<xf:option name="{$name}" label="{{ $label }}" checked="{$resolveDefault}">
					<xf:dependent>
						<xf:checkbox>
							<xf:option name="{$alertEnableName}" 
									   label="{{ phrase('svReportImprov_send_resolution_alert:') }}"
									   checked="{$alertDefault}">
								<xf:dependent>
									<xf:textbox name="{$alertCommentName}" maxlength="300" />
								</xf:dependent>
							</xf:option>
						</xf:checkbox>
					</xf:dependent>
				</xf:option>
			<xf:else />
				<xf:option name="{$name}" label="{{ $label }}" checked="{{ true }}" />
			</xf:if>
		</xf:checkboxrow>
	</xf:if>
</xf:macro>

<xf:macro name="reportInfo_conversation_message" 
		  arg-report="!"
		  >
	<xf:set var="$message" value="{$report.Content}" />
	<xf:set var="$conversation" value="{$message.Conversation}" />
	<xf:if is="$conversation">
		<dl class="pairs pairs--inline" style="display:block;">
			<dt>{{ phrase('conversation_starter') }}</dt>
			<dd><xf:username user="$conversation.Starter" defaultname="{$conversation.username}" /></dd>
		</dl>
		<dl class="pairs pairs--inline" style="display:block;">
			<dt>{{ phrase('start_date') }}</dt>
			<dd><xf:date time="$conversation.start_date" /></dd>
		</dl>
		<dl class="pairs pairs--inline" style="display:block;">
			<dt>{{ phrase('replies') }}</dt>
			<dd>{$conversation.reply_count|number}</dd>
		</dl>
		<dl class="pairs pairs--inline" style="display:block;">
			<dt>{{ phrase('conversation_participants') }}</dt>
			<dd>
				<ul class="listInline listInline--comma listInline--selfInline"><xf:trim>
					<xf:foreach loop="$conversation.Recipients" value="$recipient"><xf:trim>
						<li>
						<xf:trim>
							<xf:set var="$title" value="{{ $recipient.User.username }}" />
							<xf:if is="is_addon_active('SV/ConversationEssentials')">
								<xf:set var="$convEssUserData" value="{{ $recipient.ConvEssUserData }}" />
								<xf:set var="$recipientState" value="{{ $recipient.recipient_state }}" />

								<xf:if is="$convEssUserData && $convEssUserData.hard_delete">
									<xf:set var="$title" value="{{ phrase('svConvEss_x_has_left_this_conversation_permanently', {'username': $recipient.User.username}) }}" />
									<xf:set var="$recipientState" value="deleted_permanently" />
								<xf:elseif is="in_array($recipient.recipient_state, ['deleted', 'deleted_ignored'])" />
									<xf:set var="$title" value="{{ phrase('svConvEss_x_has_left_this_conversation', {'username': $recipient.User.username}) }}" />
								</xf:if>
							</xf:if>

							<xf:username user="{$recipient.User}" notooltip="1" defaultname="{{ phrase('unknown_member') }}" title="{{ $recipient.User.username }}" />
						</xf:trim>
						</li>
					</xf:trim></xf:foreach>
				</xf:trim></ul>
			</dd>
		</dl>		
	</xf:if>
</xf:macro>

<xf:macro name="view_report_comment_extras"
		  arg-comment="!">
	<xf:if is="$comment.alertSent">
		<div class="message-minorHighlight">{{ phrase('svReportImprov_report_alert:') }} {$comment.alertComment}</div>
	</xf:if>
	<xf:if is="$comment.WarningLog">
		<article class="message-body">
			<xf:include template="svReportImprov_report_view_warning_log" />
		</article>
		<xf:if is="$comment.message">
			<hr class="formRowSep" />
		</xf:if>
	</xf:if>
</xf:macro>

<xf:macro name="report_assigned_user" arg-report="!">
	{{ $report.AssignerUser 
		? phrase('svReportImprov_assigned_to_x_by_assigner_y', {
			'assignee':  username_link($report.AssignedUser),
			'assigner':  username_link($report.AssignerUser)
			}) 
		: username_link($report.AssignedUser)
	}}
</xf:macro>

<xf:macro name="comment_status_update" arg-comment="!">
	{{ phrase('status_changed:') }} {{ $comment.getReportStateChange() }}
	<xf:if is="$comment.state_change === 'assigned'">
		<xf:if is="$comment.assigned_user_id">
		{{ 
			($comment.assigned_user_id === $comment.user_id)
			? phrase('(svReportImprov_self_assigned)')
			: phrase('(svReportImprov_assigned_to_x_by_assigner_y)', {
				'assignee':  username_link($comment.AssignedUser, false, {'defaultname': $comment.assigned_username}),
				'assigner':  username_link($comment.User, false, {'defaultname': $comment.username})
			}) 
		}}
		<xf:else />
			{{ phrase('(svReportImprov_assigned_action)') }}
		</xf:if>
	</xf:if>
</xf:macro>