<xf:checkboxrow label="{{ phrase('reports') }}">
	<xf:option name="user_criteria[sv_reports_minimum][rule]" value="sv_reports_minimum" selected="{$criteria.sv_reports_minimum}" label="{{ phrase('svReportImprov_user_has_at_least_x_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_minimum][data][reports]" value="{$criteria.sv_reports_minimum.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_minimum][data][days]" value="{$criteria.sv_reports_minimum.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_maximum][rule]" value="sv_reports_maximum" selected="{$criteria.sv_reports_maximum}" label="{{ phrase('svReportImprov_user_has_no_more_than_x_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_maximum][data][reports]" value="{$criteria.sv_reports_maximum.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_maximum][data][days]" value="{$criteria.sv_reports_maximum.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_open][rule]" value="sv_reports_open" selected="{$criteria.sv_reports_open}" label="{{ phrase('svReportImprov_user_has_at_least_x_open_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_open][data][reports]" value="{$criteria.sv_reports_open.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_open][data][days]" value="{$criteria.sv_reports_open.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_maximum_open][rule]" value="sv_reports_maximum_open" selected="{$criteria.sv_reports_maximum_open}" label="{{ phrase('svReportImprov_user_has_no_more_than_x_open_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_maximum_open][data][reports]" value="{$criteria.sv_reports_maximum_open.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_maximum_open][data][days]" value="{$criteria.sv_reports_maximum_open.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_minimum_assigned][rule]" value="sv_reports_minimum_assigned" selected="{$criteria.sv_reports_minimum_assigned}" label="{{ phrase('svReportImprov_user_has_at_least_x_assigned_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_minimum_assigned][data][reports]" value="{$criteria.sv_reports_minimum_assigned.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_minimum_assigned][data][days]" value="{$criteria.sv_reports_minimum_assigned.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_maximum_assigned][rule]" value="sv_reports_maximum_assigned" selected="{$criteria.sv_reports_maximum_assigned}" label="{{ phrase('svReportImprov_user_has_no_more_than_x_assigned_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_maximum_assigned][data][reports]" value="{$criteria.sv_reports_maximum_assigned.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_maximum_assigned][data][days]" value="{$criteria.sv_reports_maximum_assigned.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_minimum_resolved][rule]" value="sv_reports_minimum_resolved" selected="{$criteria.sv_reports_minimum_resolved}" label="{{ phrase('svReportImprov_user_has_at_least_x_resolved_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_minimum_resolved][data][reports]" value="{$criteria.sv_reports_minimum_resolved.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_minimum_resolved][data][days]" value="{$criteria.sv_reports_minimum_resolved.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_maximum_resolved][rule]" value="sv_reports_maximum_resolved" selected="{$criteria.sv_reports_maximum_resolved}" label="{{ phrase('svReportImprov_user_has_no_more_than_x_resolved_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_maximum_resolved][data][reports]" value="{$criteria.sv_reports_maximum_resolved.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_maximum_resolved][data][days]" value="{$criteria.sv_reports_maximum_resolved.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_minimum_rejected][rule]" value="sv_reports_minimum_rejected" selected="{$criteria.sv_reports_minimum_rejected}" label="{{ phrase('svReportImprov_user_has_at_least_x_rejected_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_minimum_rejected][data][reports]" value="{$criteria.sv_reports_minimum_rejected.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_minimum_rejected][data][days]" value="{$criteria.sv_reports_minimum_rejected.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>

	<xf:option name="user_criteria[sv_reports_maximum_rejected][rule]" value="sv_reports_maximum_rejected" selected="{$criteria.sv_reports_maximum_rejected}" label="{{ phrase('svReportImprov_user_has_no_more_than_x_rejected_reports:') }}">
		<xf:dependent>
			<div class="inputGroup">
				<xf:numberbox name="user_criteria[sv_reports_maximum_rejected][data][reports]" value="{$criteria.sv_reports_maximum_rejected.reports}" size="5" min="0" step="1" />
				<span class="inputGroup-text">
					{{ phrase('days:') }}
				</span>
				<span class="inputGroup" dir="ltr">
					<xf:numberbox name="user_criteria[sv_reports_maximum_rejected][data][days]" value="{$criteria.sv_reports_maximum_rejected.days}" size="5" min="0" step="1" />
				</span>
			</div>
		</xf:dependent>
	</xf:option>
</xf:checkboxrow>